.empty-pokedex-pokemon-container {
  height: 80px;
}

.pokedex-pokemon-container {
  user-select: none;
  cursor: pointer;
  width: 100% !important;
}

.pokedex-pokemon-container:first-child, .pokedex-pokemon-container:last-child {
  pointer-events: none;
}

.pokedex-pokemon-container:nth-child(2), .pokedex-pokemon-container:nth-child(6) {
  /* negative of (size of picture - padding - font size) divide by 2 -> for each dimension */
  margin: -calc((80px - 1.6rem - 2em) / 2) 0;
}

.pokemon-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.pokemon-info-container {
  background-color: rgb(6, 53, 49);
  padding: 0.8rem 2rem 0.8rem 2rem;
  width: 100%;
  border-radius: 4rem;
}

.selected {
  /* (size of picture - padding - font size) divide by 2 -> for each dimension */
  /* this is because flex gap initiates before transform scale, the result margin will be affected */
  margin: calc((80px - 1.6rem - 2em) / 2) 0;
}

.selected .pokemon-info-container {
  background-color: var(--primary-color);
}
